 Roleplay Rules/Guidelines:

1. You must contact ATC as a pilot. If there isnt any ATC, you may just pretend there is.
2. If your on live frequency, stay professional.
3. During special events, such as competitions,etc, You must follow all rules that are provided during that event. 
4. LR, HR's and SHR's cannot abuse such powers inside my games under Boeing's server list.
_______________________________________________________________________________________________________________________________________________________________________________

Discord server rules:


1. Limit the use of Profanity
2. N word is banned therefore if anybody catches you saying the N word, your going to get banned.
3. Limit the amount of cursing.
4. No racism is tolerated here
5. NFSW = BAN
6. All advertisements inside #advertise
7. You must follow staff members even if they are wrong.
8. If you feel like a staff member is wrong inside a situation, feel free to DM any SHR's as we will deal with them. 
9. Do not spam mention anybody. This will result in a mute or ban depending on how bad it was.
10. If anybody here DM advertises, that will be a automatic kick.
11. Bypassing anything that is set around here will be a Pban
12. If we catch anybody spreading hoax's, that will be a mute or kick.
13. If staff are acting weird or misbehaving. Please create a support ticket and list the reasons. This also follows up with reporting people.

_______________________________________________________________________________________________________________________________________________________________________________


VC Rules:

1. No earrape.
2. If you join a office, Do not invite any music bots into there unless given permission
3. Follow all the Discord server rules while inside a VC

_______________________________________________________________________________________________________________________________________________________________________________
Punishment Terms:

  1-3 Points = mute,    5-9 points = kick  10+ points = ban
  
  By @LOA | [CF] RickyGaming 
